env/
__pycache__/
.DS_Store
*.csv
src/
eval_results/
eval_data/
*.egg-info/
.env
results
venv/
/tools/dataflow_fixtures/node_modules
/tools/dataflow_fixtures/finnhub_data
/tools/dataflow_fixtures/reddit_data
